@keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
  }
  
  .animate-moveUp {
    animation: moveUp 2s ease-in-out infinite alternate;
  }